1-Write a Python program to calculate the length of a string using 2 ways

In [1]:
str1 = "Abdelrahman"
print(len(str1))

11

In [2]:
sum = 0
for num in str1:
    sum += 1
print(sum)

11

2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource' <br>
Expected Result : 'w3ce' <br>
##Sample String : 'w3'<br>
Expected Result : 'w3w3'<br>
##Sample String : ' w'<br>
Expected Result : Empty String)

In [3]:
str2 = "w3"
out = ""
if len(str2) >= 2:
    out = str2[0:2] + str2[-2:] 

print(out)

w3w3

3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [4]:
str2 = "append"
out = ""
if len(str2) >= 3:
    if (str2[-3:]).lower == "ing":
        out = str2 + "ly"
    else:
        out = str2 + "ing"

else:
    out = str2

print(out)

appending

4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [5]:
def find_longest_word(words):
  longest_word = ""
  longest_length = 0
  for word in words:
    if len(word) > longest_length:
      longest_word = word
      longest_length = len(word)
  return longest_word, longest_length

words = ["Exercises", "Python", "Coding", "Practice"]
longest_word, longest_length = find_longest_word(words)
print("Longest word:", longest_word)
print("Length of the longest word:", longest_length)

Longest word: Exercises
Length of the longest word: 9

5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [6]:
str3 = "abca"
replace = "e"

out = replace + str3[1 : -1] + replace
print(out)

ebce

6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [7]:
def modify_string(s):
  result = ""
  for i in range(len(s)):
    if i % 2 == 0:
      result += s[i]
  return result

input_string = "abca"
print(modify_string(input_string))

ac

7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [8]:
def count_word_occurrences(sentence):
  word_counts = {}
  words = sentence.lower().split()
  for word in words:
    if word in word_counts:
      word_counts[word] += 1
    else:
      word_counts[word] = 1
  return max(word_counts.values())

sample = "amr and ahmed are friends but amr is the tallest"
print(count_word_occurrences(sample))

2

8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [9]:
str5 = input("Enter a sentence ")
print(str5.lower())
print(str5.upper())

Enter a sentence  I loVe PytHon

i love python
I LOVE PYTHON

9-Write a Python function to reverse a string if its length is a multiple of 4

In [10]:
def reverse_string(input_string):
    if len(input_string) % 4 == 0:
        return input_string[::-1]
    else:
        return input_string

test_string = input("Enter a string: ")
print("Result:", reverse_string(test_string))

Enter a string:  I love Python Python

Result: nohtyP nohtyP evol I

10- Write a Python program to remove a newline in Python

In [11]:
str4 = """
Hello
World
Test
"""
out_str = str4.replace("\n", "")
print(out_str)

HelloWorldTest

11-Write a Python program to check whether a string starts with specified characters

In [12]:
def check_start_of_string(input_string, start_chars):
    if input_string.startswith(start_chars):
        return True
    else:
        return False

user_string = input("Enter a string: ")
start_chars = input("Enter the starting characters to check: ")

if check_start_of_string(user_string, start_chars):
    print(f"The string starts with '{start_chars}'.")
else:
    print(f"The string does not start with '{start_chars}'.")

Enter a string:  Press to start
Enter the starting characters to check:  Pres

The string starts with 'Pres'.

12- Write a Python program to add prefix text to all of the lines in a string

In [13]:
def add_prefix_to_lines(input_string, prefix):
    lines = input_string.splitlines()
    prefixed_lines = [prefix + line for line in lines]
    result = "\n".join(prefixed_lines)
    
    return result

sample_string = """Hello world
This is a test
Adding prefix to lines"""

prefix_text = ">>> "

result = add_prefix_to_lines(sample_string, prefix_text)
print("String with added prefix:\n", result)

String with added prefix:
 >>> Hello world
>>> This is a test
>>> Adding prefix to lines

13-Write a Python program to print the following numbers up to 2 decimal places

In [14]:
num = 1.35674
print(f"{num:.2f}")

1.36

14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [15]:
num = -1.35674
print(f"{num:.2f}")

-1.36

15-Write a Python program to display a number with a comma separator

In [16]:
number = 123456789
formatted_number = f"{number:,}"
print(formatted_number)

123,456,789

16-Write a Python program to reverse a string using 2 ways

In [17]:
str6 = "Python"
print(str6[::-1])

nohtyP

In [18]:
def reverse(s):
    str = ""
    for i in s:
        str = i + str
    return str

print(reverse(str6))

nohtyP

 17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [19]:
def count_repeated_characters(input_string):
    char_count = {}
    for char in input_string:
        if char in char_count:
            char_count[char] += 1
        else:
            char_count[char] = 1
    
    repeated_chars = {char: count for char, count in char_count.items() if count > 1}
    return repeated_chars

input_string = "programming"
result = count_repeated_characters(input_string)
print("Repeated characters in the string:", result)

Repeated characters in the string: {'r': 2, 'g': 2, 'm': 2}

18-Write a Python program to find the first non-repeating character in a given string

19-Write a Python program to remove spaces from a given string

In [20]:
str7 = "I love Python "
print(str7.replace(' ', ''))

IlovePython

20-Write a Python program to count the number of non-empty substrings of a given string

In [21]:
## ???

21-write a Python program to swap first and last element of any list.

In [22]:
def swap_first_last(lst):
    if len(lst) > 1:
        lst[0], lst[-1] = lst[-1], lst[0]
    return lst

lst = ["Ahmed" , "Hussein" , "Mahmoud" , "Yousef"]
print(swap_first_last(lst))

['Yousef', 'Hussein', 'Mahmoud', 'Ahmed']

22-Given a list in Python and provided the positions of the elements,
<br>write a program to swap the two elements in the list.<br>
(Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3 <br>
Output : [19, 65, 23, 90])

In [23]:
def swap_elements(lst, pos1, pos2):
    if pos1 - 1 < len(lst) and pos2 - 1 < len(lst):
        lst[pos1 - 1], lst[pos2 - 1] = lst[pos2 - 1], lst[pos1 - 1]
    else:
        print("Error: Positions are out of range.")
    return lst
    

my_list = [23, 65, 19, 90]
pos1 = 1
pos2 = 3
print(swap_elements(my_list, pos1, pos2))

[19, 65, 23, 90]

23- search for the all ways to know the length of the list

In [24]:
lst = ["Ahmed" , "Hussein" , "Mahmoud" , "Yousef"]
print(len(lst))

4

In [25]:
sum = 0
for i in lst:
    sum += 1

print(sum)

4

24-write a Python code to find the Maximum number of list of numbers.

In [26]:
lst2 = [20 , 30 , 50 , 10]
print(max(lst2))

50

25-write a Python code to find the Minimum number of list of numbers.

In [27]:
lst2 = [20 , 30 , 50 , 10]
print(min(lst2))

10

**26-search for if an elem is existing in list

In [28]:
string_list = ["Ahmed", "Mohamed", "Mahmoud", "Yousef", "Hussein"]
element = "Hussein"

if element in string_list:
    print(f"'{element}' exists in the list.")
else:
    print(f"'{element}' does not exist in the list.")

'Hussein' exists in the list.

**27- clear python list using different ways

In [29]:
tmp_lst = [1, 2, 3, 4, 5, 3 , 4]
tmp_lst.clear()
tmp_lst

[]

In [30]:
tmp_lst= []
tmp_lst

[]

In [31]:
tmp_lst *= 0
tmp_lst

[]

**28-remove duplicated elements from a list

In [32]:
tmp_lst2 = [1, 2, 3, 4, 5, 3 , 4]
lst_no_duplicates = list(set(tmp_lst2))
lst_no_duplicates

[1, 2, 3, 4, 5]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.<br>
(Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]<br>
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [33]:
test_list = ["Gfg", 3, "is", 8]
key_list = ["name", "id"]

result = [{key_list[0]: test_list[i], key_list[1]: test_list[i+1]} for i in range(0, len(test_list), 2)]
print(result)

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [34]:
def count_unique(list):
    unique_list = []
    for i in list:
        if i not in unique_list:
            unique_list.append(i)
    return len(unique_list)


list = [1, 2, 3, 4, 5, 1, 2, 3]
print(count_unique(list))

5

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [35]:
def extract_elements(list, K):
  result = []
  frequency = {}
  for element in list:
    if element in frequency:
      frequency[element] += 1
    else:
      frequency[element] = 1
  for key, value in frequency.items():
    if value > K:
      result.append(key)
  return result

test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
K = 3
print(extract_elements(test_list, K))

[4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [36]:
def strongest_neighbor(lst):
    strongest_list = []
    for i in range(len(lst)):
        if i == 0:  # First element
            strongest_list.append(lst[i + 1])
        elif i == len(lst) - 1:  # Last element
            strongest_list.append(lst[i - 1])
        else:  # Middle elements
            strongest_list.append(max(lst[i - 1], lst[i + 1]))
    
    return strongest_list

lst = [1, 2, 2, 3, 4, 5]
print(strongest_neighbor(lst))

[2, 2, 3, 4, 5, 4]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [37]:
def find_combinations(numbers):
  for i in range(3):
    for j in range(3):
      for k in range(3):
        if i != j and j != k and i != k:
          print(numbers[i], numbers[j], numbers[k] , "\n")
"""When all three conditions are true (connected by and), it means that i, j, and k have different values,
guaranteeing that the three digits selected from the list are distinct."""

numbers = [1, 2, 3]
print(find_combinations(numbers))

1 2 3

1 3 2

2 1 3

2 3 1

3 1 2

3 2 1

None

** 34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [38]:
def find_combinations2(numbers):
  combinations = []
  for i in range(len(numbers) + 1):
    for j in range(len(numbers)):
      combination = numbers[j:j+i]
      if combination:
        combinations.append(combination)
  return combinations

test_list = [1, 2, 3, 4]
result = find_combinations2(test_list)
print(result)

[[1], [2], [3], [4], [1, 2], [2, 3], [3, 4], [4], [1, 2, 3], [2, 3, 4], [3, 4], [4], [1, 2, 3, 4], [2, 3, 4], [3, 4], [4]]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [39]:
def unique_combination(list1 , list2):
    combinations_list = []
    for i in range(len(list1)):
        for j in range(len(list2)):
                combinations_list.append((list1[i] , list2[j]))
    return combinations_list


list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]
print(unique_combination(list1 , list2))

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3), ('c', 1), ('c', 2), ('c', 3)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [40]:
def remove_occurences(list):
    frequency = {}
    for i in list:
        if i in frequency:
            frequency[i] += 1
        else:
            frequency[i] = 1
    x = max(frequency.values())
    for i in list:
        if frequency[i] == x:
            list.remove(i)
    return list

    
list = [1, 2, 1, 3, 4, 1, 5]
print(remove_occurences(list))

[2, 3, 4, 5]

**37-write a python program to Replace index elements with elements in Other List <br>
(The original list 1 is : [‘Gfg’, ‘is’, ‘best’]<br> 
The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] <br>
The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [41]:
def replace_list(list1 , list2):
    list2_replaced = []
    for i in list2:
        list2_replaced.append(list1[i])
    return list2_replaced

list1 = ['gfg' , 'is' , 'best']
list2 = [0 , 1 , 2 , 1 ,2 , 0 , 2 ,1]
print(replace_list(list1 , list2))

['gfg', 'is', 'best', 'is', 'best', 'gfg', 'best', 'is']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 <br>
Output : [(4, 5, 5, 4)] <br>
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 <br>
Output : [] )

In [42]:
def retain_records(test_list, K, N):
    result = []
    for item in test_list:
        if item.count(K) == N:
            result.append(item)
    
    return result

test_list = [(4, 5, 5, 4), (5, 4, 3)]
test_list2 = [(4, 5, 5, 4), (5, 4, 3)]
K = 5
N = 2
K2 = 5
N2 = 3
print(retain_records(test_list, K, N))
print(retain_records(test_list2, K2, N2))

[(4, 5, 5, 4)]
[]

**39-write a Python Program to Sort the list according to the column using lambda<br>
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]<br>
Output :<br>
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]<br>
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]<br>
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

**40- write a program to Sort Python Dictionaries by Key or Value <br>
Input: <br>
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
<br>
Output: <br>
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [43]:
def sort_dict_by_key(d):
    sorted_dict = {k: v for k, v in sorted(d.items())}
    return sorted_dict

def sort_dict_by_value(d):
    sorted_dict = {k: v for k, v in sorted(d.items(), key=lambda item: item[1])}
    return sorted_dict

dict1 = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
print(sort_dict_by_key(dict1))
print(sort_dict_by_value(dict1))

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}
{'yash': 2, 'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values ) <br>
input : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 <br>
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [44]:
def remove_keys_with_values_greater_than_k(test_dict, K):
    result = {}
    for key, value in test_dict.items():
        if isinstance(value, (int, float)) and value < K:
            result[key] = value
        # To handle the case of mixed values
        elif not isinstance(value, (int, float)):
            result[key] = value
    
    return result

test_dict = {'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 'CS'}
K = 7
print(remove_keys_with_values_greater_than_k(test_dict, K))

{'Gfg': 3, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [45]:
def concatenate_dicts(*dicts):
  result = {}
  for d in dicts:
    result.update(d)
  return result

dict1 = {1: 10, 2: 20}
dict2 = {3: 30, 4: 40}
dict3 = {5: 50, 6: 60}

print(concatenate_dicts(dict1, dict2, dict3))

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [46]:
test_dict = {"Gfg" : 1, "is" :  2, "best" : 3} 

for i in test_dict: 
    print(test_dict[i])

1
2
3

**44- Write a Python script to merge two Python dictionaries

In [47]:
def concatenate_dicts(*dicts):
  result = {}
  for d in dicts:
    result.update(d)
  return result

dict1 = {1: 10, 2: 20}
dict2 = {3: 30, 4: 40}
dict3 = {5: 50, 6: 60}

print(concatenate_dicts(dict1, dict2, dict3))

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [48]:
input_dict = {'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 12}

values = input_dict.values()

max_value = max(values)
min_value = min(values)

print(f"Maximum value of dictionary is {max_value}\nMinimum value of dictionary is {min_value} ")

Maximum value of dictionary is 12
Minimum value of dictionary is 3

**46- Write a Python program to drop empty items from a given dictionary.<br>
Original Dictionary:<br>
{'c1': 'Red', 'c2': 'Green', 'c3': None}<br>
New Dictionary after dropping empty items:<br>
{'c1': 'Red', 'c2': 'Green'}

In [49]:
test_dict = {"c1" : 'Red', 'c2': 'Green', 'c3': None}

filtered_dict = {key:value for (key, value) in test_dict.items() if value is not None}
print(filtered_dict)

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [50]:
tup = (1,2,3)
print(tup[0])

1

**48-Write a Python program to unpack a tuple into several variables

In [51]:
tup = (1, "Hello", 2.5)

num, str, float = tup

print(num)
print(str)
print(float)

1
Hello
2.5

**49-Write a Python program to add an item to a tuple

In [52]:
del list

tup = (1 , "Hello world" , 2.5)
conc = 'aaa'

lst = list(tup)
lst.append(conc)

tuple(lst)

(1, 'Hello world', 2.5, 'aaa')

**50-Write a Python program to convert a tuple to a string

In [53]:
del str

tup = (1 , 'Hello world' , 2.5)
tmp = str(tup)
print(tmp , type(tmp))

(1, 'Hello world', 2.5) <class 'str'>

**51-Write a Python program to convert a list to a tuple

In [54]:
lst = [1, 2, 3, 4, 5]
print(tuple(lst))

(1, 2, 3, 4, 5)

**52-Write a Python program to reverse a tuple

In [55]:
tup = (1, 2, 3, 4, 5)

reversed_tuple = tup[::-1]
print(reversed_tuple)

(5, 4, 3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.<br>
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)] <br>
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [56]:
def replace_last_value(tuples_list, new_value):
    # Use list comprehension to create a new list of tuples
    modified_list = [t[:-1] + (new_value,) for t in tuples_list]
    return modified_list

sample_list = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
new_value = 100
print(replace_last_value(sample_list, new_value))

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0 <br>
<class 'str'> <br>
Convert the said string to a tuple: <br>
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [57]:
str = "python 3.0"
tmp = tuple(str)
print(tmp , type(tmp))

('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0') <class 'tuple'>

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [66]:
del sum
my_tuple1 = (10, 20, 30, 40, 50)
avr = sum(my_tuple1) / len(my_tuple1)
print(avr)

30.0

**56-Write a Python program to add member(s) to a set.

In [59]:
my_set = {1, 2, 3}
my_set.update([5, 6, 7])
print(my_set)

{1, 2, 3, 5, 6, 7}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [60]:
my_set = {1, 2, 3, 4, 5}

remove = 3

if remove in my_set:
  my_set.remove(remove)
    
print(my_set)

{1, 2, 4, 5}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [61]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Intersection
intersection = set1 & set2
print("Intersection:", intersection)

# Union
union = set1 | set2
print("Union:", union)

# Difference
difference1 = set1 - set2
print("Difference (set1 - set2):", difference1)
difference2 = set2 - set1
print("Difference (set2 - set1):", difference2)

# Symmetric Difference
symmetric_difference = set1 ^ set2
print("Symmetric Difference:", symmetric_difference)

Intersection: {3}
Union: {1, 2, 3, 4, 5}
Difference (set1 - set2): {1, 2}
Difference (set2 - set1): {4, 5}
Symmetric Difference: {1, 2, 4, 5}

**59-Write a Python program to find the maximum and minimum values in a set

In [62]:
my_set = {5, 2, 8, 1, 9}

maximum = max(my_set)
minimum = min(my_set)

print("Maximum value:", maximum)
print("Minimum value:", minimum)

Maximum value: 9
Minimum value: 1

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [63]:
def find_pairs(arr, target_sum):
  pairs = []
  seen = set()    # Empty set that will keep track of the numbers we've already seen as we iterate through the list
  for num in arr:
    complement = target_sum - num
    if complement in seen:
      pairs.append((num, complement))
    seen.add(num)
  return pairs

arr = [1, 2, 3, 4, 5, 6]
target_sum = 8
print(find_pairs(arr, target_sum))

[(5, 3), (6, 2)]