In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('insurance-data.csv')
print(df)

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [4]:
df.shape

(1338, 7)

In [5]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

### Question 1

In [6]:
Female_smokers_percentage = len(df[(df['sex'] == 'female') & (df['smoker'] == 'yes')]) / len(df) * 100
print("Percentage of female smokers is " , "{:.2f}".format(Female_smokers_percentage) , "%")

Percentage of female smokers is  8.59 %

### Question 2

In [7]:
Region_max_insurence = df.sort_values(by=['charges'], ascending=False)
print("The city with maximum insurance rate is" , '"' , Region_max_insurence['region'].iloc[0] , '"')

The city with maximum insurance rate is " southeast "

### Question 3

In [8]:
Max_insurence = df.sort_values(by=['charges'], ascending=False)
print("The gender with maximum insurance rate is a" , Max_insurence['sex'].iloc[0])

The gender with maximum insurance rate is a female

### Question 4

In [9]:
df_female_smoker = df[(df['sex'] == 'female') & (df['smoker'] == 'yes')]
avg_age = np.mean(df_female_smoker['age'])
print("Average age of smoker females is" , "{:.2f}".format(avg_age))

Average age of smoker females is 38.61

### Question 5

In [10]:
df_male_with_children = df[(df['sex'] == 'male') & (df['children'] > 0)]
percentage = (len(df_male_with_children) / len(df[df['sex'] == 'male'])) * 100
print("Percentage of males who has children is" , "{:.2f}".format(percentage) , "%")

Percentage of males who has children is 57.84 %

### Question 6

In [11]:
df_female_with_children = df[(df['sex'] == 'female') & (df['children'] > 0)]
percentage = (len(df_female_with_children) / len(df[df['sex'] == 'female'])) * 100
print("Percentage of males who has children is" , "{:.2f}".format(percentage) , "%")

Percentage of males who has children is 56.34 %

In [12]:
df_female_with_children = df[(df['sex'] == 'female') & (df['children'] > 0)]
avg_charges = np.mean(df_female_with_children['charges'])
print("Average charges of males who has children is" , "{:.2f}".format(avg_charges))

Average charges of males who has children is 13083.94

### Question 7

In [13]:
male_df = df[df['sex'] == 'male']
Male_max_children = male_df.sort_values(by='children', ascending=False)
print("Maximum number of children associated with male is" , Male_max_children['children'].iloc[0])

Maximum number of children associated with male is 5

### Question 8

In [14]:
female_df = df[df['sex'] == 'female']
Female_max_children = female_df.sort_values(by='children', ascending=False)
print("Maximum number of children associated with female is" , Female_max_children['children'].iloc[0])

Maximum number of children associated with female is 5

### Question 9

In [15]:
Female_df = df[df['sex'] == 'female']
Female_max_charges = Female_df.sort_values(by='charges' , ascending=False)
print("City with the maximum female insurance total charge is" , Female_max_charges['region'].iloc[0])

City with the maximum female insurance total charge is southeast